
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="closeModalEvent()">Retour</ion-button>
    </ion-buttons>
    <ion-title>Your Cart</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label class="order-info">
        <h2>{{ totalNumber }} cocktails</h2>
        <h2>Total : {{ totalPrice }}€</h2>
      </ion-label>
    </ion-list-header>
    <ng-container *ngFor="let cocktail of cart">
        <app-cocktail-card 
            displayedIn="cart-modal"
            [cocktail]="cocktail"
        ></app-cocktail-card>
    </ng-container>
  </ion-list>
</ion-content>