ion-header{
    ion-toolbar{
        ion-button{
            --background: #EF6624;
            --color: #FBFBFB;
            --ripple-color: #ffa47d;
            --padding-bottom: 1rem;
            --padding-top: 1rem;
            margin-right: 1rem;
        }
    }
}
::ng-deep {
    .toast-success {
        transform: translateY(-8%) !important;
    }
}